<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">our services</h1>
            <p class="text-center sub-heading">grow your <b>Services</b> with us</p>
            <div class="row">
               
                <div class="col-md-4">
                     <a href="https://weatherapp-mcke.onrender.com">
                    <div class="box" >
                        <div class="our-services database">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="can't load image">
                            </div>
                            <h4>Weather Updates</h4>
                            <p>"Your Weather Source: Instantly access up-to-date weather forecasts, alerts, and insights for any location worldwide. Stay informed and prepared with our user-friendly weather website."
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                
                <div class="col-md-4">
                    <a href="https://newsxpress.onrender.com">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                            </div>
                            <h4>News Updates</h4>
                            <p>"Stay Informed, Stay Connected: Explore the latest news, stories, and updates from around the world on our news website. Your trusted source for breaking news and insightful reporting."
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://qrmader.onrender.com">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="https://i.imgur.com/v6OnUqu.png" alt="">
                            </div>
                            <h4>QR Generate</h4>
                            <p>"QR Codes Made Easy: Create, customize, and download QR codes effortlessly on our user-friendly QR generator website. Streamline connections and information sharing today."
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
